@{
    ViewData["Title"] = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><i class="alert-success">Success</i></h1>
<br/>
<h5 class="text-center">You have successfully created an appointment, our operator will call you within 15 minutes to confirm it </h5>
<br />
<br />
<div class="text-center"><form asp-controller ="Home" asp-action="Index"><button>Home Page!</button></form></div>